

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.container {
    max-width: 1170px;
    padding: 0 15px;
}
.navbar {
    background: #326295 !important;
}

.lh-condensed {
    line-height: 1.25;
}

.carousel-item {
    height: 60vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mb59 {
    padding-top: 1%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.3);
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer.footer {
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url(../images/bg-masthead.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

    header.masthead .overlay {
        position: absolute;
        background-color: #212529;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: .3;
    }

    header.masthead h1 {
        font-size: 2rem;
    }
.sandbox-correct-pronounciation {
    padding: 1em 0 1em 0;
    background-color: #5774b8;
}

.heading-correct-pronounciation {
    margin: auto;
    text-align: center;
    position: relative;
}
@media (min-width:768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

        header.masthead h1 {
            font-size: 3rem;
        }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width:768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

    .features-icons .features-icons-item {
        max-width: 20rem;
    }

        .features-icons .features-icons-item .features-icons-icon {
            height: 7rem;
        }

            .features-icons .features-icons-item .features-icons-icon i {
                font-size: 4.5rem;
            }

        .features-icons .features-icons-item:hover .features-icons-icon i {
            font-size: 5rem;
        }

.testimonials {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

    .testimonials .testimonial-item {
        max-width: 18rem;
    }

        .testimonials .testimonial-item img {
            max-width: 12rem;
            box-shadow: 0 5px 5px 0 #adb5bd;
        }

.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url(../images/sl03.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

    .call-to-action .overlay {
        position: absolute;
        background-color: #212529;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: .3;
    }


.dropdown {
    border-radius: 0;
    border: 0;
}

.dropdown-menu {
    background: #326295;
    border: 0;
    top: 80%;
    border-radius: 0px 0px 5px 5px;
}

.dropdown-item:hover {
    background: #085ca5;
    color: #fff;
}

.dropdown-menu a {
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus, .dropdown-item:hover {
    background: #fec400;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fec400;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Modal start */
#main .mtabs {
    font: 14px/1 'Open Sans', sans-serif;
    min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}


    #main .mtabs p {
        margin: 0 0 20px;
        line-height: 1.5;
    }

    #main .mtabs section {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid #ddd;
    }

    #main .mtabs input {
        display: none;
    }

    #main .mtabs label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;
    }

        #main .mtabs label:before {
            font-family: fontawesome;
            font-weight: normal;
            margin-right: 10px;
        }

        #main .mtabs label[for*='1']:before {
            content: '\f002';
        }

        #main .mtabs label[for*='2']:before {
            content: '\f278';
        }

        #main .mtabs label[for*='3']:before {
            content: '\f15d';
        }

        #main .mtabs label:hover {
            color: #888;
            cursor: pointer;
        }

    #main .mtabs input:checked + label {
        color: #555;
        border: 1px solid #ddd;
        border-top: 2px solid orange;
        border-bottom: 1px solid #fff;
    }

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 650px) {
    #main .mtabs label {
        font-size: 0;
    }

        #main .mtabs label:before {
            margin: 0;
            font-size: 18px;
        }
}

@media screen and (max-width: 400px) {
    #main .mtabs label {
        padding: 15px;
    }
}
/* Modal end */
/* Dialog windows start */
#console {
    display: none;
}

#dialog {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.15);
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;
}

.dialog_state {
    visibility: hidden;
    opacity: 0;
    display: none;
}

    .dialog_state:checked + #dialog,
    #dialog.dialog_open {
        transition-delay: 0s;
        opacity: 1;
        visibility: visible;
    }

#dlg-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.dialog_state:checked + #dialog #dlg-wrap {
    max-height: 24rem;
    opacity: 1;
    padding: 1rem 1rem 1rem 1rem;
}

#dlg-wrap {
    position: relative;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 640px;
    padding: 2rem;
    border-radius: 0.25rem;
    /*border: 1px solid #969696;*/
    background: #fff;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: all .5s;
}

#dlg-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

h2#dlg-header {
    font: 200 1.5em/1em Raleway, Open Sans, Arial, Sans-Serif;
    text-transform: initial;
    letter-spacing: -0.025em;
    margin: 0 0 1rem;
}

#dlg-content {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.015em;
}

#dlg-prompt .button {
    margin: 1rem 0rem 0rem 1rem;
    border-radius: 1.5rem;
}



.main_area {
    transition: all 0.5s ease-out;
}

    .dialog_state:checked ~ .main_area,
    .main_area.dialog_open {
        filter: blur(6px);
    }

.button, a.button {
    display: inline-block;
    padding: 0.25em 1em;
    box-sizing: border-box;
    background: #ffffff;
    color: #606060;
    text-decoration: none;
    letter-spacing: 0.075em;
    line-height: 2rem;
    font-family: Raleway, Open Sans, Arial;
    font-weight: 300;
    font-size: 0.85em;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    transition: .1s all;
    cursor: pointer;
}

    .button:hover, a.button:hover {
        color: #a0a0a0;
        background: #f8f8f8;
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        /*transform: scale(1.01);*/
    }

    .button.positive, a.button.positive {
        border-color: #6199B7;
        color: #6199B7;
    }

        .button.positive:hover, a.button.positive:hover {
            border-color: #468FB6;
            color: #fff;
            background-color: #468FB6;
        }

.icon {
    vertical-align: middle;
    line-height: inherit;
    font-size: 1.75em;
}


#main .about label {
    padding: 0px 0px;
    border: 1px solid transparent;
}


/* Console */
#console {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: #f0f0f0;
    color: #606060;
    font: 400 13px/16px Open Sans;
    letter-spacing: 0em;
    text-align: left;
    padding: 2px;
    overflow-y: scroll;
    0
}

    #console p {
        margin: 0;
        padding: 0;
    }

        #console p em {
            font-style: none;
            font-weight: 700;
        }

/* Dialog windows end */

