@model ELake.Models.LakesArchiveData

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>LakesArchiveData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LakeId" class="control-label"></label>
                <input asp-for="LakeId" class="form-control" />
                <span asp-validation-for="LakeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyYear" class="control-label"></label>
                <input asp-for="SurveyYear" class="form-control" />
                <span asp-validation-for="SurveyYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LakeLength" class="control-label"></label>
                <input asp-for="LakeLength" class="form-control" />
                <span asp-validation-for="LakeLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LakeShorelineLength" class="control-label"></label>
                <input asp-for="LakeShorelineLength" class="form-control" />
                <span asp-validation-for="LakeShorelineLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LakeMirrorArea" class="control-label"></label>
                <input asp-for="LakeMirrorArea" class="form-control" />
                <span asp-validation-for="LakeMirrorArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LakeAbsoluteHeight" class="control-label"></label>
                <input asp-for="LakeAbsoluteHeight" class="form-control" />
                <span asp-validation-for="LakeAbsoluteHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LakeWidth" class="control-label"></label>
                <input asp-for="LakeWidth" class="form-control" />
                <span asp-validation-for="LakeWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LakeMaxDepth" class="control-label"></label>
                <input asp-for="LakeMaxDepth" class="form-control" />
                <span asp-validation-for="LakeMaxDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LakeWaterMass" class="control-label"></label>
                <input asp-for="LakeWaterMass" class="form-control" />
                <span asp-validation-for="LakeWaterMass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArchivalInfoSource" class="control-label"></label>
                <input asp-for="ArchivalInfoSource" class="form-control" />
                <span asp-validation-for="ArchivalInfoSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
