@{
    ViewData["Title"] = "Contact";
}
<body>    
    <main role="main">        
        <div class="container mt-3">            
            <!-- START THE FEATURETTES -->
            <div class="row featurette">
                <div class="col-md-5 m-3">
                    <h2 class="featurette-heading">@ViewData["Title"]</h2>
                    <p class="lead">Институт географии</p>
                    <address>
                        Республика Казахстан, 050010, г. Алматы,<br />
                        ул. Кабанбай батыра/Пушкина 67/99, Институт географии.<br />
                        <abbr title="Phone">Тел.: (8-727) 291-81-29, 291-88-69<br /> Факс: (8-727) 291-81-02</abbr>
                    </address>

                    <address>
                        <strong>E-mail:</strong> <a href="mailto:ingeo_2009@mail.ru">ingeo_2009@mail.ru</a><br />
                        <strong>E-mail:</strong> <a href="mailto:ingeo@mail.kz">ingeo@mail.kz</a>
                    </address>
                </div>
                <div class="col-md-6 m-3">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11624.166293927628!2d76.9539016!3d43.2505505!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d72608ab1a69bde!2sInstitute+of+Geography+Of+The+Republic+Of+Kazakhstan!5e0!3m2!1sen!2skz!4v1542088269344" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>                    
                </div>
            </div>            
            <!-- /END THE FEATURETTES -->        
    </main>
   
</body>