@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["Home"];
}

<link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>

<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 100px;
    }
</style>

<body>

    <!-- Navigation -->
    @*<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" rel="#">ELake</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">@SharedLocalizer["LogIn"]</a>
            </div>
        </nav>*@

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url(../images/sl01.JPG)">
                    <h1 class="mb59">Internet resource: <br> Lakes of the Republic of Kazakhstan!</h1>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Ulken Shabakty lake </h3>
                        <p>This is a description for the first slide.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url(../images/sl04.JPG)">
                    <h1 class="mb59">Internet resource: <br> Lakes of the Republic of Kazakhstan!</h1>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Zhasibay lake</h3>
                        <p>This is a description for the second slide.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url(../images/sl06.JPG)">
                    <h1 class="mb59">Internet resource: <br> Lakes of the Republic of Kazakhstan!</h1>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Inder lake</h3>
                        <p>This is a description for the third slide.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <a asp-controller="Lakes" asp-action="Map">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-magnifier m-auto text-primary"></i>
                            </div>
                            <h3>Advanced Lakes Search</h3>
                            <p class="lead mb-0">We process customer-collected data using specialized software to generate bathymetric maps of waterbodies</p>
                        </a>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-layers m-auto text-primary"></i>
                        </div>
                        <h3>Mapping Services</h3>
                        <p class="lead mb-0">We process customer-collected data using specialized software to generate bathymetric maps of waterbodies</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-settings m-auto text-primary"></i>
                        </div>
                        <h3>Analytics</h3>
                        <p class="lead mb-0">We process customer-collected data using specialized software to generate bathymetric maps of waterbodies</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Search by lake name!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="form-row">
                        @*<div class="col-12 col-md-9 mb-2 mb-md-0">
                                <select id="LakeId" name="Lakes" class="custom-select custom-select-sm" asp-items="ViewBag.Lakes"><option value="">Choose...</option></select>
                            </div>*@
                        <div class="ui-widget">
                            @*<label for="LakeId">Tags: </label>*@
                            <input id="LakeId" class="form-control">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="button" class="btn btn-block btn-lg btn-primary" onclick="GoToLake()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <img class="mb-2" src="~/images/ELake v02.svg" alt="" height="150">
        <h2>Welcome to the Water Atlas</h2>
        <p class="lead mb-0">The Water Atlas Program was designed to help meet the needs of local governments by providing the means through technology to connect multiple stakeholders in water resource management. The Atlas serves as a one-stop data warehouse, which provides unprecedented access to a wealth of water resource information. This information is presented in a variety of ways, including interactive graphs, tables, maps and graphics, so as to be understandable to both water research professionals and those people simply interested in learning more about the water resources within their area.</p>
    </section>
    <!-- Image Showcases -->
    <section class="showcase pb-5">
        <div class="container-fluid p-0">
            <div class="row no-gutters">

                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../images/sl07.JPG);"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Current Water Atlases</h2>
                    <p class="lead mb-0">The following is a list of currently accessibly project websites, please click on one of these links to explore the comprehensive and user-friendly Water Atlas.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url(../images/sl08.JPG);"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Current Water Atlases</h2>
                    <p class="lead mb-0">The following is a list of currently accessibly project websites, please click on one of these links to explore the comprehensive and user-friendly Water Atlas.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../images/sl09.JPG);"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Current Water Atlases</h2>
                    <p class="lead mb-0">The following is a list of currently accessibly project websites, please click on one of these links to explore the comprehensive and user-friendly Water Atlas.</p>
                </div>
            </div>
        </div>
    </section>
</body>

<script>
    function GoToLake() {
        $.ajax({
            url: '@Url.Action("GetLakeId")',
            data: {
                LakeName: $('#LakeId').val()
            },
            type: 'POST',
            success: function (data) {
                if (data.lakeId != null) {
                    window.location.href = '/Lakes/Map/' + data.lakeId.toString();
                }
            },
            error: function () {
            }
        });
    }
</script>
<script>
    $.ajax({
        url: '@Url.Action("SearchLakes")',
        type: 'POST',
        success: function (data) {
            $("#LakeId").autocomplete({
                source: data.lakes
            });
        },
        error: function () {
        }
    });
</script>