@model ELake.Models.IonsaltWaterComposition
@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="alert alert-primary" role="alert">
                <button type="button" class="close" data-dismiss="alert">x</button> <h4 class="alert-heading">@SharedLocalizer["Edit"]</h4>
                <hr />
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">@SharedLocalizer["IonsaltWaterComposition"]</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-exclamation-triangle"></i></button>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-warning" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="LakeId" class="control-label"></label>
                        <input asp-for="LakeId" class="form-control" />
                        <span asp-validation-for="LakeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CaMgEq" class="control-label"></label>
                        <input asp-for="CaMgEq" class="form-control" />
                        <span asp-validation-for="CaMgEq" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MgMgEq" class="control-label"></label>
                        <input asp-for="MgMgEq" class="form-control" />
                        <span asp-validation-for="MgMgEq" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NaKMgEq" class="control-label"></label>
                        <input asp-for="NaKMgEq" class="form-control" />
                        <span asp-validation-for="NaKMgEq" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClMgEq" class="control-label"></label>
                        <input asp-for="ClMgEq" class="form-control" />
                        <span asp-validation-for="ClMgEq" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HCOMgEq" class="control-label"></label>
                        <input asp-for="HCOMgEq" class="form-control" />
                        <span asp-validation-for="HCOMgEq" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SOMgEq" class="control-label"></label>
                        <input asp-for="SOMgEq" class="form-control" />
                        <span asp-validation-for="SOMgEq" class="text-danger"></span>
                    </div>
                </form>
                <small class="d-block text-right mt-3">
                    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
                </small>
            </div>
        </div>

    </div>
</div>
<script>
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
</script>