<script>
    function TableWB(data) {
        var tablebody = $('#tablebodyWB');
        tablebody.html('');
        if (data.wbtable != null) {
            for (var i = 0; i < data.wbtable.length; i++) {
                var tr = $('<tr/>').appendTo(tablebody);
                tr.append('<td>' + (data.wbtable[i].year != null ? data.wbtable[i].year : 0));
                tr.append('<td>' + (data.wbtable[i].surfaceFlow != null ? data.wbtable[i].surfaceFlow : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
                tr.append('<td>' + (data.wbtable[i].precipitation != null ? data.wbtable[i].precipitation : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
                tr.append('<td>' + (data.wbtable[i].undergroundFlow != null ? data.wbtable[i].undergroundFlow : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
                tr.append('<td>' + (data.wbtable[i].waterBalanceReceipt != null ? data.wbtable[i].waterBalanceReceipt : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
                tr.append('<td>' + (data.wbtable[i].surfaceOutflow != null ? data.wbtable[i].surfaceOutflow : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
                tr.append('<td>' + (data.wbtable[i].evaporation != null ? data.wbtable[i].evaporation : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
                tr.append('<td>' + (data.wbtable[i].undergroundOutflow != null ? data.wbtable[i].undergroundOutflow : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
                tr.append('<td>' + (data.wbtable[i].waterBalanceExpenditure != null ? data.wbtable[i].waterBalanceExpenditure : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
                tr.append('<td>' + (data.wbtable[i].discrepancy != null ? data.wbtable[i].discrepancy : 0).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>');
            }
        }
        $('.WB').hide();
    }

    var ChartWB = null,
        dataWB,
        ChartWL = null,
        ChartBAVCD = null;

    function ChartWBX(data) {
        var year = $('#chartWBYear').val();
        var ctx1 = document.getElementById("chartWB").getContext('2d');
        var dataSurfaceFlow = 0,
            dataPrecipitation = 0,
            dataUndergroundFlow = 0,
            dataSurfaceOutflow = 0,
            dataEvaporation = 0,
            dataUndergroundOutflow = 0;
        if (data.wbtable != null) {
            for (var i = 0; i < data.wbtable.length; i++) {
                if (data.wbtable[i].year == year) {
                    dataSurfaceFlow = data.wbtable[i].surfaceFlow;
                    dataPrecipitation = data.wbtable[i].precipitation;
                    dataUndergroundFlow = data.wbtable[i].undergroundFlow;
                    dataSurfaceOutflow = data.wbtable[i].surfaceOutflow;
                    dataEvaporation = data.wbtable[i].evaporation;
                    dataUndergroundOutflow = data.wbtable[i].undergroundOutflow;
                }
            }
        }
        if (ChartWB == null) {
            ChartWB = new Chart(ctx1, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [
                            dataSurfaceFlow,
                            dataPrecipitation,
                            dataUndergroundFlow,
                            dataSurfaceOutflow,
                            dataEvaporation,
                            dataUndergroundOutflow
                        ],
                        backgroundColor: [
                            chartColorWBSurfaceFlow,
                            chartColorWBPrecipitation,
                            chartColorWBUndergroundFlow,
                            chartColorWBSurfaceOutflow,
                            chartColorWBEvaporation,
                            chartColorWBUndergroundOutflow
                        ]
                    }],
                    labels: [
                        $('#HiddenSurfaceFlow').val(),
                        $('#HiddenPrecipitation').val(),
                        $('#HiddenUndergroundFlow').val(),
                        $('#HiddenSurfaceOutflow').val(),
                        $('#HiddenEvaporation').val(),
                        $('#HiddenUndergroundOutflow').val()
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: $('#BILName').text() + ' (' + $('#LakeIdInfo').text() + '). ' + $('#WaterBalance').val() + ' (' + $('#chartWBYear').val() + '). '
                    },
                }
            });
        }
        else {
            ChartWB.config.data.datasets[0].data[0] = [dataSurfaceFlow];
            ChartWB.config.data.datasets[0].data[1] = [dataPrecipitation];
            ChartWB.config.data.datasets[0].data[2] = [dataUndergroundFlow];
            ChartWB.config.data.datasets[0].data[3] = [dataSurfaceOutflow];
            ChartWB.config.data.datasets[0].data[4] = [dataEvaporation];
            ChartWB.config.data.datasets[0].data[5] = [dataUndergroundOutflow];
            ChartWB.config.options.title.text = $('#BILName').text() + ' (' + $('#LakeIdInfo').text() + '). ' + $('#WaterBalance').val() + ' (' + $('#chartWBYear').val() + '). ';
            ChartWB.update();
        }
    }

    function ChartWLX(data) {
        if (ChartWL != null) {
            ChartWL.destroy();
        }
        var ctx1 = document.getElementById("chartWL").getContext('2d');
        var data1 = [];
        if (data.wltable != null) {
            for (var i = 0; i < data.wltable.length; i++) {
                if (data.wltable[i].waterLavelM != null) {
                    data1.push({
                        'x': data.wltable[i].year,
                        'y': data.wltable[i].waterLavelM.toFixed(1)
                    });
                }
            }
        }
        ChartWL = new Chart(ctx1, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: $('#WaterLavelM').val(),
                    data: data1,
                    backgroundColor: chartColorGHIwaterLavelM,
                    borderColor: chartColorGHIwaterLavelM,
                    borderWidth: 1,
                    fill: false,
                    showLine: true,
                    lineTension: 0
                }]
            },
            options: {
                spanGaps: true,
                title: {
                    display: true,
                    //text: $('#BILName').text() + ' (' + $('#LakeIdInfo').text() + '). ' + $('#WaterLevel').val()
                    text: $('#WaterLevel').val() + ' ' + $('#BILName').text()
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: $('#Year').val()
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: $('#WaterLavelMy').val()
                        }
                    }]
                }
            }
        });
    }

    function ChartBAVCDX(data) {
        if (ChartBAVCD != null) {
            ChartBAVCD.destroy();
        }
        var ctx = document.getElementById('chartBAVCD').getContext('2d');
        var data1 = [],
            data2 = [];
        if (data.bavcdtable != null) {
            for (var i = 0; i < data.bavcdtable.length; i++) {
                if (data.bavcdtable[i].lakeArea != null) {
                    data1.push({
                        x: data.bavcdtable[i].lakeArea,
                        y: data.bavcdtable[i].waterLevel
                    });
                    data2.push({
                        x: data.bavcdtable[i].waterMassVolume,
                        y: data.bavcdtable[i].waterLevel
                    });
                }
            }
        }
        ChartBAVCD = Chart.Scatter(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: $('#LakeArea').val(),
                    xAxisID: 'x-axis-1',
                    yAxisID: 'y-axis-1',
                    borderColor: chartColorBAVCDLakeArea,
                    backgroundColor: chartColorBAVCDLakeArea,
                    borderWidth: 1,
                    showLine: true,
                    fill: false,
                    data: data1,
                    lineTension: 0
                }, {
                    label: $('#WaterMassVolume').val(),
                    xAxisID: 'x-axis-2',
                    yAxisID: 'y-axis-1',
                    borderColor: chartColorBAVCDWaterMassVolume,
                    backgroundColor: chartColorBAVCDWaterMassVolume,
                    borderWidth: 1,
                    showLine: true,
                    fill: false,
                    data: data2,
                    lineTension: 0
                }]
            },
            options: {
                spanGaps: true,
                title: {
                    display: true,
                    //text: $('#BILName').text() + ' (' + $('#LakeIdInfo').text() + '). ' + $('#BathigraphicAndVolumetricCurveData').val()
                    text: $('#BathigraphicAndVolumetricCurveData').val() + ' ' + $('#BILName').text()
                },
                scales: {
                    xAxes: [{
                        position: 'top',
                        id: 'x-axis-1',
                        gridLines: {
                            drawOnChartArea: false,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: $('#LakeArea').val()
                        }
                    }, {
                        id: 'x-axis-2',
                        type: 'linear',
                        gridLines: {
                            drawOnChartArea: false,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: $('#WaterMassVolumeX').val()
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        position: 'left',
                        id: 'y-axis-1',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: $('#WaterLavelMy').val()
                        }
                    }],
                }
            }
        });
    }

    function ShowTableWB() {
        $('.WB').hide();
        $('#tableWB').show();
    }

    function ShowChartWB() {
        $('.WB').hide();
        $('#chartWB').show();
        $('#chartWBYear').show();
    }

    $('#chartWBYear').on('input', function () {
        ChartWBX(dataWB, $('#chartWBYear').val());        
    });
</script>