
@{
    ViewData["Title"] = "Кэширование данных для аналитики";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Кэширование данных для аналитики</h2>

<h4>Кэширование данных для аналитики завершено!</h4>